:root{
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --heading-color: #ffffff;
    --link-color: #66b3ff;
    --border-color: #444444;
    --accent-color: #2980b9;
    --header-bg: #2c3e50;

}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: var(--header-bg);
    color: var(--text-color);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    background-color: var(--text-color);
    height: 3px;
    width: 25px;
    border-radius: 5px;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: rgba(26,26,26);
    text-align: center;
    color: var(--text-color);
}

.profile-picture {
    background: url('hero.jpeg') no-repeat center center/cover;
    border-radius: 30%;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

.hero-content 
{
    max-width: 600px;
}

.hero-content h2 {
    font-size: 2.5em;
    margin: 0;
}

.hero-content p {
    font-size: 1.2em;
}

main {
    padding: 40px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin-bottom: 60px;
}

h2 {
    font-size: 2em;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 20px;
}

#about {
    text-align: center;
}

.skills-box {
    border: 2px solid var(--border-color); /* Box border */
    padding: 20px;
    margin: 20px auto; /* Centering the box */
    max-width: 800px; /* Width limit */
    background-color: var(--bg-color); /* Background color for the box */
    border-radius: 8px; /* Rounded corners for the box */
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    justify-items: center;
}

.skill-item {
    background: var(--border-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: var(--text-color);
    height: 40px; /* Fixed height for uniform size */
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects {
    color: var(--text-color);
    text-align: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    background: var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    width: 100%; /* Responsive width */
    max-width: 350px; /* Maximum width to keep the layout uniform */
    height: 400px; /* Fixed height to maintain consistency */
    color: var(--text-color);
}

.project-card-image {
    width: 100%;
    height: 150px; /* Fixed height for all images */
    background-size: cover;
    background-position: center;
}

.project-card-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.project-card-content h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.project-card-content p {
    margin: 0;
}


.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons .icon {
    color: var(--text-color);
    font-size: 1.5em;
    transition: color 0.3s;
}

.contact-icons .icon:hover {
    color: var(--accent-color);
}

footer {
    background-color: var(--header-bg);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}
